<!-- src/app/app.html -->

<div class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/home">Ng<i class="bi bi-hand-thumbs-up"></i>Legal</a>

      <button
        class="navbar-toggler d-sm-none"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item">
            <a
              class="nav-link text-white"
              routerLink="/home"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Início</a
            >
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/new" routerLinkActive="active"
              >Cadastro</a>
          </li>


          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/contacts" routerLinkActive="active"
              >Contatos</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/about" routerLinkActive="active">Sobre</a>
          </li>
          <li class="nav-item">

              @if (authService.user$ | async; as user) {
              <a class="nav-link" (click)="confirmLogout()">
                <img [src]="user.photoURL" class="rounded-circle" width="32" height="32" [alt]="user.displayName" />
              </a>
              } @else {
              <a class="nav-link" (click)="authService.loginWithGoogle()">
                <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i>
              </a>
              }

          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div
    class="offcanvas offcanvas-end text-bg-dark d-sm-none"
    tabindex="-1"
    id="offcanvasNavbar"
    aria-labelledby="offcanvasNavbarLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
        NG<i class="bi bi-database-fill"></i>CRUD
      </h5>
      <button
        type="button"
        class="btn-close btn-close-white"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
          <a
            class="nav-link ps-2"
            routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ><i class="bi bi-house-fill pe-2" style="font-size: 1.2rem"></i>Início</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link ps-2" routerLink="/new" routerLinkActive="active"
            ><i class="bi bi-chat-dots-fill pe-2" style="font-size: 1.2rem"></i>Novo</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link ps-2" routerLink="/contacts" routerLinkActive="active"
            ><i class="bi bi-chat-dots-fill pe-2" style="font-size: 1.2rem"></i>Contatos</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link ps-2" routerLink="/about" routerLinkActive="active"
            ><i class="bi bi-info-circle-fill pe-2" style="font-size: 1.2rem"></i>Sobre</a
          >
        </li>

<li class="nav-item"><hr></li>

        <li class="nav-item">

          @if (authService.user$ | async; as user) {
          <a class="nav-link" (click)="confirmLogout()" data-bs-dismiss="offcanvas">
            <img [src]="user.photoURL" class="rounded-circle me-2" width="32" height="32" [alt]="user.displayName" />
            <span>{{ user.displayName }}</span>
          </a>
          } @else {
          <a class="nav-link ps-2" (click)="authService.loginWithGoogle()" data-bs-dismiss="offcanvas">
            <i class="bi bi-person-circle me-2" style="font-size: 1.2rem;"></i>
            <span>Login</span>
          </a>
          }

        </li>

      </ul>
    </div>
  </div>

  <main class="flex-grow-1 container">
    <router-outlet></router-outlet>
  </main>

  <footer class="bg-dark text-white text-center p-3 mt-4">
    <p class="mb-0">&copy; Copyright 2025 Joca da Silva</p>
  </footer>
</div>
